@import "../../../Styles/common.scss";

.Product {
  @extend %flex-justify-center;

  .overviewContainer {
    width: 1200px;
    background-color: blanchedalmond;

    .overviewCategory {
      background-color: blueviolet;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .containerRow {
      display: flex;

      .rowLeft {
        display: flex;
        width: 700px;
        background-color: cadetblue;

        .imageList {
          width: 56px;
          background-color: coral;
          padding: 0 17px;

          .smallImage {
            img {
              width: 56px;
              height: 56px;
              margin-bottom: 10px;
            }
          }
        }

        .bigImageWrap {
          width: 610px;
          height: 600px;
          background-color: darkcyan;

          img {
            width: 550px;
            height: 550px;
          }
        }
      }

      .rowRight {
        width: 500px;
        height: 600px;
        background-color: chartreuse;
        padding: 0 20px;

        .rightHeader {
          width: 460px;
          height: 350px;
          background-color: darkgoldenrod;
        }

        .optionForm {
          width: 460px;
          height: 190px;
          background-color: darkorchid;
        }

        .promotionBanner {
          width: 460px;
          height: 60px;
          background-color: deepskyblue;
        }
      }
    }
  }
}
