.FilterCategories {
  height: 30px;
  width: 220px;
  display: flex;

  input {
    width: 22px;
    height: 22px;
  }

  .subCategory {
    height: 22px;
    font-size: 15px;
    line-height: 30px;
    margin-left: 4px;
  }
}
