.FilterControl {
  display: inline-block;

  button {
    height: 34px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(66, 66, 66);
    border: 1px solid rgb(218, 220, 224);
    border-radius: 4px;
    background-color: white;
    outline: none;
    margin-right: 8px;
    margin-top: 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(#757575, $alpha: 0.1);
    }

    .CategoryName {
      margin-right: 5px;
    }
    .upIcon {
      transform: rotate(180deg);
    }

    &.changeColor {
      color: #37507d;
      border-color: #37507d;
    }
  }
}
