.ContentMdpick {
  height: 350px;
  margin-bottom: 30px;

  .mdpickTitle {
    height: 20px;
    font-size: 17px;
    line-height: 20px;
    margin: 30px 0;
    color: #424242;
  }

  .mdpickItems {
    background-color: blanchedalmond;

    .itemsWrap {
      display: flex;
      justify-content: space-between;
    }
  }
}
