@import "../../../Styles/common.scss";

nav {
  height: 150px;
  color: white;
}

.CommunityHome {
  @extend %flex-justify-center;
  margin: 0px 40px;
  background-color: white;
  color: #424242;

  .communityWrapper {
    width: 1200px;
  }
}
