@import "../../../Styles/common.scss";
nav {
  background-color: lightgray;
  height: 150px;
}

.communityBody {
  @extend %flex-justify-center;
  height: 100vh;
  margin: 0px 40px;
  background-color: white;

  .wrapper {
    width: 1200px;
  }
}
