// 상의하면서 추가.
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");

%flex-justify-center {
  display: flex;
  justify-content: center;
}

%flex-align-center {
  display: flex;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
}

.addCursor {
  cursor: pointer;
}

.hideBox {
  display: none;
}
