// 상의하면서 추가.
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

%flex-justify-center {
  display: flex;
  justify-content: center;
}

%flex-align-center {
  display: flex;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.addCursor {
  cursor: pointer;
}

.hideBox {
  display: none;
}

button {
  outline: none;
  border: none;
}
