.ContentRow {
  .summary {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #424242;

    .summaryFilter {
      position: relative;
      .summaryRight {
        background-color: white;
        cursor: pointer;

        .icon {
          margin-left: 4px;
        }
      }

      .filterDropdown {
        position: absolute;
        width: 350px;
        height: 140px;
        top: -180px;
        right: 0;
        border: 1px solid rgb(218, 220, 224);
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 16px 22px;
        z-index: 3;

        .filterList {
          display: flex;
          height: 30px;

          input {
            width: 22px;
            height: 22px;
            margin-right: 10px;
          }

          .mainfilterItem {
            height: 22px;
            font-size: 15px;
            line-height: 30px;
            margin-left: 4px;
          }
        }
      }
    }
  }
}
