.ProductItem {
  position: relative;
  border: 1px solid black;
  width: 160px;
  z-index: 2;

  .itemOverlay {
    position: absolute;
    width: 160px;
    height: 100%;
    // background-color: aqua;
    z-index: 1;
  }

  .itemImage {
    display: block;
    height: 160px;
    width: 160px;
  }

  .itemContent {
    height: 130px;
    background-color: chartreuse;
  }
}
