.ContentHeaderSwiper {
  .ContentHeaderSwiperSlide {
    .test {
      width: 830px;
      height: 250px;
      background-color: red;

      border-radius: 10px;
      margin: 20px auto;
    }
  }
}
