.ContentHeaderSwiper {
  .ContentHeaderSwiperSlide {
    .slideImage {
      width: 830px;
      height: 250px;
      // background-image: url("https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/category_banners/160757206944525220.png");
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 10px;
      margin: 20px auto;
    }
  }
}
